ExampleCode/PN7462AU-FW_v05.07.01_Full/PN7462AU/phHal/phCfg/xml/user_ee.dtd

<!--


                     Copyright (c), NXP Semiconductors

                        (C) NXP Semiconductors 2014,2015

          All rights are reserved. Reproduction in whole or in part is
         prohibited without the written consent of the copyright owner.
     NXP reserves the right to make changes without notice at any time.
    NXP makes no warranty, expressed, implied or statutory, including but
    not limited to any implied warranty of merchantability or fitness for any
   particular purpose, or that the use will not infringe any third party patent,
    copyright or trademark. NXP must not be liable for any loss or damage
                             arising from its use.

-->

<!-- Top element is UserEE : User EEPROM -->
<!ELEMENT UserEE (pages*) > <!-- USER EE has multiple pages -->
<!ATTLIST UserEE
   startAddress 	CDATA #REQUIRED
   endAddress 		CDATA #REQUIRED 
   product_name 	CDATA #REQUIRED 
   product_version 	CDATA #IMPLIED > 
		<!-- Starting address of EEPROM -->
		<!-- END Address of EEPROM -->
		<!-- Name of the product -->
		<!-- Version of the product -->

<!ELEMENT pages       (page*)>
<!ELEMENT page        (description,structure*)>
<!ELEMENT structure   (description?,(field*|array*)*)>
<!ELEMENT field       (description?,option*)>
<!ELEMENT array       (description?,option*)>
<!ATTLIST page
    name  CDATA #REQUIRED
>
<!ATTLIST structure
          name  CDATA #REQUIRED
          >

<!-- Single filed elements with 8/16/32 bits -->
<!ATTLIST field
          valuetype (int|hex) #REQUIRED
          value CDATA #REQUIRED
          type  (u8|u16|u32) #REQUIRED
          name  CDATA #REQUIRED
          >

<!-- Array of elements -->
<!ATTLIST array
          size  CDATA #REQUIRED
          type  (u8|u16|u32) #REQUIRED
          name  CDATA #REQUIRED
          value CDATA #REQUIRED
          valuetype (int|hex|cstring) #IMPLIED
          >

<!-- Describe what an values a particual filed would take -->
<!ELEMENT option   EMPTY>
<!ATTLIST option
          value       CDATA  #REQUIRED
          description CDATA  #IMPLIED
          >
<!ELEMENT name        (#PCDATA)>
<!ELEMENT description (#PCDATA)>

